# FASE 1 - DATA STORAGE

## IMPORT DATASETS

In [2]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (1.26.3)
Requirement already satisfied: pycountry in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (23.12.11)
Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (3.5.0)
Requirement already satisfied: python-dotenv in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rkeat/Library/Python/3.11/lib/python/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: py4j==0.10.9.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyspark->-r requirements.txt (line 4)) (0.10.9.7)
Requirement already satisfied: six>=1.5 in /Users/rkeat/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pandas as pd
import json
import numpy as np 
import pycountry as pc
import time
from pyspark.sql import SparkSession
from dotenv import load_dotenv
import os
import requests

load_dotenv()
API_KEY = os.getenv("API_KEY")
print(API_KEY)

1e6b6ed0c1684363f4e6e3a1a4dc6364

In [59]:
#DATASETS ESCOLHIDOS

dfLabor = pd.read_csv('datasets/world_labor_productivity.csv', delimiter=',')
dfSalary = pd.read_csv('datasets/world_annual_wage.csv', delimiter=',')
dfMental=pd.read_csv('datasets/mental_illness.csv', delimiter=',')
dfCost = pd.read_csv('datasets/cost_of_living.csv', delimiter=',')

In [60]:
dfLabor

         Entity Code  Year  Productivity: output per hour worked
0     Argentina  ARG  1972                              5.770799
1     Argentina  ARG  1973                              6.049992
2     Argentina  ARG  1974                              6.123540
3     Argentina  ARG  1975                              6.015602
4     Argentina  ARG  1976                              6.029272
...         ...  ...   ...                                   ...
3452    Vietnam  VNM  2015                              4.946606
3453    Vietnam  VNM  2016                              5.156925
3454    Vietnam  VNM  2017                              5.652919
3455    Vietnam  VNM  2018                              5.982665
3456    Vietnam  VNM  2019                              6.739149

[3457 rows x 4 columns]

In [61]:
dfMental

,Entity,Code,Year,"DALYs from depressive disorders per 100,000 people in, both sexes aged age-standardized","DALYs from schizophrenia per 100,000 people in, both sexes aged age-standardized","DALYs from bipolar disorder per 100,000 people in, both sexes aged age-standardized","DALYs from eating disorders per 100,000 people in, both sexes aged age-standardized","DALYs from anxiety disorders per 100,000 people in, both sexes aged age-standardized"
0,Afghanistan,AFG,1990,895.22565,138.248250,147.64412,26.471115,440.33000
1,Afghanistan,AFG,1991,893.88434,137.761220,147.56696,25.548681,439.47202
2,Afghanistan,AFG,1992,892.34973,137.080300,147.13086,24.637949,437.60718
3,Afghanistan,AFG,1993,891.51587,136.486020,146.78812,23.863169,436.69104
4,Afghanistan,AFG,1994,891.39160,136.183230,146.58481,23.189074,436.76800
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,546.46204,127.108720,115.32073,20.423056,302.20868
6836,Zimbabwe,ZWE,2016,547.27765,127.142105,114.98700,20.647228,302.68216
6837,Zimbabwe,ZWE,2017,547.62270,127.465050,115.32798,20.791725,302.88626
6838,Zimbabwe,ZWE,2018,546.57184,127.681210,115.42796,20.916480,301.58250
6839,Zimbabwe,ZWE,2019,544.53160,128.216030,115.38145,21.011127,298.20325

In [62]:
dfSalary

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,CPNCU,Current prices in NCU,2000,2000,AUD,Australian Dollar,0,Units,NaN,NaN,46246.868731,NaN,NaN
1,AUS,Australia,CPNCU,Current prices in NCU,2001,2001,AUD,Australian Dollar,0,Units,NaN,NaN,48315.982391,NaN,NaN
2,AUS,Australia,CPNCU,Current prices in NCU,2002,2002,AUD,Australian Dollar,0,Units,NaN,NaN,50052.758102,NaN,NaN
3,AUS,Australia,CPNCU,Current prices in NCU,2003,2003,AUD,Australian Dollar,0,Units,NaN,NaN,51798.586644,NaN,NaN
4,AUS,Australia,CPNCU,Current prices in NCU,2004,2004,AUD,Australian Dollar,0,Units,NaN,NaN,54199.402711,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,CRI,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2017,2017,NaN,NaN,0,Units,NaN,NaN,27020.000000,NaN,NaN
2605,CRI,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2018,2018,NaN,NaN,0,Units,NaN,NaN,27709.000000,NaN,NaN
2606,CRI,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2019,2019,NaN,NaN,0,Units,NaN,NaN,28524.000000,NaN,NaN
2607,CRI,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2020,2020,NaN,NaN,0,Units,NaN,NaN,31341.000000,NaN,NaN
2608,CRI,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2021,2021,NaN,NaN,0,Units,NaN,NaN,31117.834263,NaN,NaN

In [63]:
dfCost

,Date,Country,Cost of Living,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,2023,Bermuda,141.8,96.3,120.0,143.3,142.0,79.5
1,2023,Switzerland,114.2,50.2,83.5,113.9,109.5,118.7
2,2023,Cayman Islands,103.4,75.7,90.1,96.4,92.4,76.7
3,2023,Bahamas,90.9,39.6,66.3,74.1,94.8,43.2
4,2023,Barbados,88.8,21.2,56.4,80.1,82.7,36.8
...,...,...,...,...,...,...,...,...
1626,2009,Bolivia,46.7,21.8,36.8,27.1,37.2,32.5
1627,2009,China,43.5,25.1,36.2,58.4,35.2,35.0
1628,2009,Thailand,39.9,24.5,33.8,53.3,25.3,33.4
1629,2009,India,38.5,10.5,27.4,34.0,29.5,41.4
1630,2009,Ukraine,35.7,28.8,33.0,27.2,37.1,30.3

## TRATAMENTO

In [64]:
print(dfSalary.columns)

Index(['COUNTRY', 'Country', 'SERIES', 'Series', 'TIME', 'Time', 'Unit Code',
       'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

Como Ã© possÃ­vel observar, o dfSalary tem a feature 'Year' como 'Time' e a feature 'Entity' como 'Country'. De forma a uniformizar e poder fazer um merge correto, decidimos renomear as colunas.
Ã‰ possÃ­vel verificar que tem algumas colunas em duplicado pelo que demos drop delas

In [65]:
dfSalary.rename(columns={'Country':'Entity'}, inplace=True)
dfSalary.drop(columns=[ 'COUNTRY' ], inplace=True)

In [66]:
dfCost.rename(columns={'Country':'Entity'}, inplace=True)

In [67]:
dfSalary.rename(columns={'Time':'Year'}, inplace=True)
dfSalary.drop(columns=[ 'TIME' ], inplace=True)

In [68]:
dfCost.rename(columns={'Date':'Year'}, inplace=True)

In [69]:
#Lets use see the rows that the unit code is empty or NaN
dfSalary[dfSalary['Unit Code'].isna()]["Entity"].unique()
#Only Turkey, Colombia and Costa Rica had no unitCode, we will manually add the unit code and country code for these countries
dfSalary.loc[dfSalary['Entity'] == 'TÃ¼rkiye', 'Unit Code'] = 'TRY'
dfSalary.loc[dfSalary['Entity'] == 'TÃ¼rkiye', 'Unit'] = 'Turkish Lira'
dfSalary.loc[dfSalary['Entity'] == 'Colombia', 'Unit Code'] = 'COP'
dfSalary.loc[dfSalary['Entity'] == 'Colombia', 'Unit'] = 'Colombian Peso'
dfSalary.loc[dfSalary['Entity'] == 'Costa Rica', 'Unit Code'] = 'CRC'
dfSalary.loc[dfSalary['Entity'] == 'Costa Rica', 'Unit'] = 'Costa Rican ColÃ³n'
#Now we dont have any countries without unit code
# dfSalary[dfSalary['Unit Code'].isna()]["Entity"].unique()
#Lets use the Unit Code to get the exchange rates for each country
#Lets collect all the Unit Codes for the countries per year
# unitCodesPerYear = {}
# for year in dfSalary['Year'].unique():
#     unitCodesPerYear[year] = dfSalary[dfSalary['Year'] == year]['Unit Code'].unique().tolist()

# #Lets create a new attribute to store the exchange rate for each country and the converted salary
# dfSalary['Exchange Rate'] = np.nan
# dfSalary['Salary in USD'] = np.nan

# #Using the api we will get the exchange rates from the coutries currency to USD
# year=2000
# apiUrl = f"http://api.exchangeratesapi.io/v1/{year}-12-12?access_key={API_KEY}&symbols=USD,{','.join(unitCodesPerYear[year])}"
# print(apiUrl)
# response = requests.post(apiUrl)
# exchangeRates = response.json()

http://api.exchangeratesapi.io/v1/2000-12-12?access_key=1e6b6ed0c1684363f4e6e3a1a4dc6364&symbols=USD,AUD,EUR,CAD,CZK,DKK,HUF,JPY,KRW,NOK,PLN,SEK,CHF,GBP,USD,ILS,MXN,ISK,NZD,CLP,TRY,CRC

In [71]:
# #Taking into consideration the API limitations, we have to base our analysis in euros, exchange them for dollars and reconvert them to the coutries currrency
# USD = exchangeRates['rates']['USD']
# for row in dfSalary[dfSalary['Year'] == year].iterrows():
#     entity = row[1]['Entity']
#     unitCode = row[1]['Unit Code']
#     salary = row[1]['Value']
#     exchangeRate = exchangeRates['rates'][unitCode]
#     salaryInUSD = salary / exchangeRate
#     salaryInUSD = salaryInUSD * USD
#     print(f"{entity} - {unitCode} - {salary} - {exchangeRate} - {salaryInUSD}")

Australia - AUD - 46246.8687311857 - 1.62192 - 25063.417970125553
Austria - EUR - 27932.1336265057 - 1 - 24552.26166129763
Belgium - EUR - 31015.7220412343 - 1 - 27262.726627078828
Canada - CAD - 43474.8931344361 - 1.342027 - 28475.060964116165
Czechia - CZK - 173858.189267599 - 34.83886 - 4386.504805026678
Denmark - DKK - 267667.703995458 - 7.464151 - 31521.21504627862
Finland - EUR - 26597.2142706544 - 1 - 23378.871552262408
France - EUR - 25605.9919617516 - 1 - 22507.59011640377
Germany - EUR - 27993.2155365741 - 1 - 24605.95247700202
Greece - EUR - 13901.5875162704 - 1 - 12219.453722039132
Hungary - HUF - 1223604.74863675 - 265.693784 - 4048.0619721139483
Ireland - EUR - 27331.5585014795 - 1 - 24024.357928124977
Italy - EUR - 21254.2592738694 - 1 - 18682.430138953383
Japan - JPY - 4624653.32646199 - 97.984308 - 41486.81031660815
Korea - KRW - 18830753.7127639 - 1044.538861 - 15846.39560984063
Luxembourg - EUR - 40450.0199428042 - 1 - 35555.446179665065
Netherlands - EUR - 32019.4883504916 - 1 - 28145.034201617065
Norway - NOK - 277322.300152391 - 8.087461 - 30141.16171528385
Poland - PLN - 26550.3744023356 - 3.855597 - 6052.940555906073
Portugal - EUR - 12629.8271789129 - 1 - 11101.580200782902
Slovak Republic - EUR - 5429.35745140709 - 1 - 4772.388911714478
Spain - EUR - 18526.3841003138 - 1 - 16284.63604502353
Sweden - SEK - 251428.942621989 - 8.526906 - 25918.578940344887
Switzerland - CHF - 71791.6944930855 - 1.505863 - 41905.99283224216
United Kingdom - GBP - 22017.0469614776 - 0.606796 - 31893.615363314737
United States - USD - 38863.0278199539 - 0.878997 - 38863.0278199539
Israel - ILS - 113428.695034867 - 3.600387 - 27692.434910347973
Slovenia - EUR - 11312.0725721231 - 1 - 9943.277854678488
Estonia - EUR - 4116.87920294707 - 1 - 3618.7244687528655
Australia - AUD - 75223.6949838118 - 1.62192 - 40767.36350725413
Austria - EUR - 44362.1427892733 - 1 - 38994.19042534286
Belgium - EUR - 48890.796319834 - 1 - 42974.863292745125
Canada - CAD - 62530.1726860435 - 1.342027 - 40955.833377804
Czechia - CZK - 297462.508548777 - 34.83886 - 7505.086349749946
Denmark - DKK - 388527.786912901 - 7.464151 - 45753.99923086754
Finland - EUR - 38781.6453825753 - 1 - 34088.94994634754
France - EUR - 34537.094843516 - 1 - 30358.002756166035
Germany - EUR - 39598.6685392586 - 1 - 34807.1108500027
Greece - EUR - 18550.87597475 - 1 - 16306.164329177327
Hungary - HUF - 3353561.43210804 - 265.693784 - 11094.615740572504
Ireland - EUR - 38401.824156971 - 1 - 33755.08822850504
Italy - EUR - 31807.9745062168 - 1 - 27959.11416704105
Japan - JPY - 4513792.65133843 - 97.984308 - 40492.30208523314
Korea - KRW - 30651087.2668639 - 1044.538861 - 25793.404879659687
Luxembourg - EUR - 62069.4480843888 - 1 - 54558.8586578335
Netherlands - EUR - 49661.9618871318 - 1 - 43652.715512903196
Norway - NOK - 442920.282885 - 8.087461 - 48139.4098710419
Poland - PLN - 48794.1758863708 - 3.855597 - 11124.070856366026
Portugal - EUR - 19720.6052949358 - 1 - 17334.352892432686
Slovak Republic - EUR - 10763.4855241763 - 1 - 9461.071485294395
Spain - EUR - 29228.5836861278 - 1 - 25691.83737435528
Sweden - SEK - 360439.352512817 - 8.526906 - 37155.92848574954
Switzerland - CHF - 77365.9651590257 - 1.505863 - 45159.786299874635
United Kingdom - GBP - 33883.1188922272 - 0.606796 - 49082.656868059494
United States - USD - 61131.5991879978 - 0.878997 - 61131.5991879978
Israel - ILS - 157503.07835819 - 3.600387 - 38452.73671069636
Slovenia - EUR - 20954.0911672993 - 1 - 18418.583273782584
Estonia - EUR - 9495.70652358139 - 1 - 8346.697547108472
Australia - USD - 48213.0886758407 - 0.878997 - 48213.0886758407
Austria - USD - 57529.017471462 - 0.878997 - 57529.017471462
Belgium - USD - 60929.1405210416 - 0.878997 - 60929.140521041605
Canada - USD - 46526.3392846538 - 0.878997 - 46526.3392846538
Czechia - USD - 20070.4824207018 - 0.878997 - 20070.4824207018
Denmark - USD - 52018.8800522512 - 0.878997 - 52018.8800522512
Finland - USD - 43072.8440388183 - 0.878997 - 43072.8440388183
France - USD - 43694.3469153401 - 0.878997 - 43694.3469153401
Germany - USD - 51344.1011892339 - 0.878997 - 51344.1011892339
Greece - USD - 29797.165441595 - 0.878997 - 29797.165441595
Hungary - USD - 17968.8940022678 - 0.878997 - 17968.8940022678
Ireland - USD - 37873.9303720957 - 0.878997 - 37873.9303720957
Italy - USD - 45289.5844590666 - 0.878997 - 45289.5844590666
Japan - USD - 41428.2368740179 - 0.878997 - 41428.2368740179
Korea - USD - 32242.6420334454 - 0.878997 - 32242.6420334454
Luxembourg - USD - 64217.0944540361 - 0.878997 - 64217.0944540361
Netherlands - USD - 60062.6401102152 - 0.878997 - 60062.6401102152
Norway - USD - 36444.1966293975 - 0.878997 - 36444.1966293975
Poland - USD - 23769.6120023227 - 0.878997 - 23769.6120023227
Portugal - USD - 30975.0102916494 - 0.878997 - 30975.0102916494
Slovak Republic - USD - 16381.1268031448 - 0.878997 - 16381.126803144802
Spain - USD - 43029.08323482 - 0.878997 - 43029.08323482
Sweden - USD - 37650.8104279534 - 0.878997 - 37650.8104279534
Switzerland - USD - 60767.7071013052 - 0.878997 - 60767.70710130519
United Kingdom - USD - 44967.0915412984 - 0.878997 - 44967.0915412984
United States - USD - 61131.5991879978 - 0.878997 - 61131.5991879978
Mexico - MXN - 73705.7050489727 - 8.322666 - 7784.415909629422
Mexico - MXN - 206568.907163649 - 8.322666 - 21816.741136809527
Mexico - USD - 17310.5804071391 - 0.878997 - 17310.5804071391
Israel - USD - 37781.7249640523 - 0.878997 - 37781.7249640523
Slovenia - USD - 33203.2334923921 - 0.878997 - 33203.2334923921
Estonia - USD - 14253.9989610863 - 0.878997 - 14253.9989610863
OECD countries - USD - 45489.4933493597 - 0.878997 - 45489.4933493597
Iceland - ISK - 3472001.13584627 - 76.489375 - 39899.37925895543
Iceland - ISK - 9435437.07607371 - 76.489375 - 108429.71175483605
Iceland - USD - 57007.8951731124 - 0.878997 - 57007.8951731124
New Zealand - NZD - 38144.5569337542 - 2.078061 - 16134.72901473977
New Zealand - NZD - 57780.4791798341 - 2.078061 - 24440.50865573082
New Zealand - USD - 36451.9332869269 - 0.878997 - 36451.9332869269
Chile - CLP - 4410850.39956582 - 506.365593 - 7656.768789713477
Chile - CLP - 10246280.7284364 - 506.365593 - 17786.457346151896
Chile - USD - 20514.9086069056 - 0.878997 - 20514.9086069056
Latvia - EUR - 3067.72955908892 - 1 - 2696.5250792504835
Latvia - EUR - 7839.6650192154 - 1 - 6891.04203289528
Latvia - USD - 13406.7065256231 - 0.878997 - 13406.7065256231
Lithuania - EUR - 4757.69551735305 - 1 - 4182.000086666779
Lithuania - EUR - 9398.72130455631 - 1 - 8261.447830541083
Lithuania - USD - 17102.376015679 - 0.878997 - 17102.376015679
TÃ¼rkiye - TRY - 4486.59574456929 - 0.603835 - 6531.095745839794
TÃ¼rkiye - TRY - 110101.214575476 - 0.603835 - 160273.3152404211
Costa Rica - CRC - 1782468.91736297 - 280.223159 - 5591.203940982261
Costa Rica - CRC - 7040275.23968986 - 280.223159 - 22083.759375725498
Costa Rica - CRC - 18159.5106498901 - 280.223159 - 56.96229904653045

In [419]:
dfSalary.drop(columns=[ 'Flag Codes', 'Flags' , 'PowerCode' , 'PowerCode Code', 'Reference Period Code','Unit Code', 'Reference Period'], inplace=True)

In [420]:
dfSalary

,Entity,SERIES,Series,Year,Unit,Value
0,Australia,CPNCU,Current prices in NCU,2000,Australian Dollar,46246.868731
1,Australia,CPNCU,Current prices in NCU,2001,Australian Dollar,48315.982391
2,Australia,CPNCU,Current prices in NCU,2002,Australian Dollar,50052.758102
3,Australia,CPNCU,Current prices in NCU,2003,Australian Dollar,51798.586644
4,Australia,CPNCU,Current prices in NCU,2004,Australian Dollar,54199.402711
...,...,...,...,...,...,...
2604,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2017,NaN,27020.000000
2605,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2018,NaN,27709.000000
2606,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2019,NaN,28524.000000
2607,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2020,NaN,31341.000000
2608,Costa Rica,USDPPP,In 2022 constant prices at 2022 USD PPPs,2021,NaN,31117.834263

In [421]:
dfCost

,Year,Entity,Cost of Living,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,2023,Bermuda,141.8,96.3,120.0,143.3,142.0,79.5
1,2023,Switzerland,114.2,50.2,83.5,113.9,109.5,118.7
2,2023,Cayman Islands,103.4,75.7,90.1,96.4,92.4,76.7
3,2023,Bahamas,90.9,39.6,66.3,74.1,94.8,43.2
4,2023,Barbados,88.8,21.2,56.4,80.1,82.7,36.8
...,...,...,...,...,...,...,...,...
1626,2009,Bolivia,46.7,21.8,36.8,27.1,37.2,32.5
1627,2009,China,43.5,25.1,36.2,58.4,35.2,35.0
1628,2009,Thailand,39.9,24.5,33.8,53.3,25.3,33.4
1629,2009,India,38.5,10.5,27.4,34.0,29.5,41.4
1630,2009,Ukraine,35.7,28.8,33.0,27.2,37.1,30.3

In [422]:
print(dfSalary.columns)
print(dfLabor.columns) 
print(dfMental.columns) 
print(dfCost.columns)

Index(['Entity', 'SERIES', 'Series', 'Year', 'Unit', 'Value'], dtype='object')
Index(['Entity', 'Code', 'Year', 'Productivity: output per hour worked'], dtype='object')
Index(['Entity', 'Code', 'Year',
       'DALYs from depressive disorders per 100,000 people in, both sexes aged age-standardized',
       'DALYs from schizophrenia per 100,000 people in, both sexes aged age-standardized',
       'DALYs from bipolar disorder per 100,000 people in, both sexes aged age-standardized',
       'DALYs from eating disorders per 100,000 people in, both sexes aged age-standardized',
       'DALYs from anxiety disorders per 100,000 people in, both sexes aged age-standardized'],
      dtype='object')
Index(['Year', 'Entity', 'Cost of Living', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index'],
      dtype='object')

## MERGE THE DATASETS USING PANDAS

In [423]:
start_time = time.time()
merged_df = pd.merge(dfCost, dfLabor, on=['Entity', 'Year'], how='inner')
merged_df = pd.merge(merged_df, dfMental, on=['Entity', 'Year'], how='inner')
merged_df = pd.merge(merged_df, dfSalary, on=['Entity', 'Year'], how='inner')
end_time = time.time()
elapsed_time = end_time - start_time

print("Elapsed time:", elapsed_time, "seconds")

Elapsed time: 0.012421369552612305 seconds

In [424]:
merged_df

,Year,Entity,Cost of Living,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Code_x,Productivity: output per hour worked,Code_y,"DALYs from depressive disorders per 100,000 people in, both sexes aged age-standardized","DALYs from schizophrenia per 100,000 people in, both sexes aged age-standardized","DALYs from bipolar disorder per 100,000 people in, both sexes aged age-standardized","DALYs from eating disorders per 100,000 people in, both sexes aged age-standardized","DALYs from anxiety disorders per 100,000 people in, both sexes aged age-standardized",SERIES,Series,Unit,Value
0,2019,Switzerland,121.2,50.2,87.1,120.8,123.1,129.7,CHE,82.918655,CHE,635.31090,178.67760,202.48970,107.115810,650.54030,CPNCU,Current prices in NCU,Swiss Franc,88703.0
1,2019,Switzerland,121.2,50.2,87.1,120.8,123.1,129.7,CHE,82.918655,CHE,635.31090,178.67760,202.48970,107.115810,650.54030,CNPNCU,2022 constant prices and NCU,Swiss Franc,90634.0
2,2019,Switzerland,121.2,50.2,87.1,120.8,123.1,129.7,CHE,82.918655,CHE,635.31090,178.67760,202.48970,107.115810,650.54030,USDPPP,In 2022 constant prices at 2022 USD PPPs,US Dollar,71189.0
3,2019,Iceland,101.9,48.3,76.1,92.1,111.8,91.8,ISL,64.244220,ISL,485.75662,177.96698,195.80510,96.615060,489.77250,CPNCU,Current prices in NCU,Iceland Krona,10979069.0
4,2019,Iceland,101.9,48.3,76.1,92.1,111.8,91.8,ISL,64.244220,ISL,485.75662,177.96698,195.80510,96.615060,489.77250,CNPNCU,2022 constant prices and NCU,Iceland Krona,12652289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,2009,Mexico,54.2,22.4,41.6,40.0,48.7,42.9,MEX,19.709696,MEX,610.59094,181.27681,198.06451,50.877518,352.22714,CNPNCU,2022 constant prices and NCU,Mexican Peso,224418.0
1058,2009,Mexico,54.2,22.4,41.6,40.0,48.7,42.9,MEX,19.709696,MEX,610.59094,181.27681,198.06451,50.877518,352.22714,USDPPP,In 2022 constant prices at 2022 USD PPPs,US Dollar,18806.0
1059,2009,Poland,53.5,34.8,46.1,40.7,44.6,26.9,POL,25.316256,POL,317.68677,187.14354,119.24043,35.298910,298.42096,CPNCU,Current prices in NCU,Zloty,38459.0
1060,2009,Poland,53.5,34.8,46.1,40.7,44.6,26.9,POL,25.316256,POL,317.68677,187.14354,119.24043,35.298910,298.42096,CNPNCU,2022 constant prices and NCU,Zloty,55418.0
1061,2009,Poland,53.5,34.8,46.1,40.7,44.6,26.9,POL,25.316256,POL,317.68677,187.14354,119.24043,35.298910,298.42096,USDPPP,In 2022 constant prices at 2022 USD PPPs,US Dollar,26997.0

## MERGE THE DATASETS USING PYSPARK

In [425]:
# Initialize SparkSession
"""s
not working yet:

park = SparkSession.builder \
    .appName("MergeDatasets") \
    .getOrCreate()

# Read the datasets
df1 = spark.read.csv("datasets/cost_of_living.csv", header=True)
df2 = spark.read.csv("datasets/mental_illness.csv", header=True)
df3 = spark.read.csv("datasets/world_annual_wage.csv", header=True)
df4 = spark.read.csv("datasets/world_labor_productivity.csv", header=True)

# Perform joins
merged_df = df1.join(df2, ['Entity', 'Year'], 'inner') \
    .join(df3, ['Entity', 'Year'], 'inner') \
    .join(df4, ['Entity', 'Year'], 'inner')

# Show the merged dataframe
merged_df.show()

# Stop SparkSession
spark.stop()
"""

's\nnot working yet:\n\npark = SparkSession.builder     .appName("MergeDatasets")     .getOrCreate()\n\n# Read the datasets\ndf1 = spark.read.csv("datasets/cost_of_living.csv", header=True)\ndf2 = spark.read.csv("datasets/mental_illness.csv", header=True)\ndf3 = spark.read.csv("datasets/world_annual_wage.csv", header=True)\ndf4 = spark.read.csv("datasets/world_labor_productivity.csv", header=True)\n\n# Perform joins\nmerged_df = df1.join(df2, [\'Entity\', \'Year\'], \'inner\')     .join(df3, [\'Entity\', \'Year\'], \'inner\')     .join(df4, [\'Entity\', \'Year\'], \'inner\')\n\n# Show the merged dataframe\nmerged_df.show()\n\n# Stop SparkSession\nspark.stop()\n'